@media print {

    /* hide */
    video {
        display: none;
    }
    
    /* print links */
    a[href]::after {
        content: none;
    }
    
    img{
        height: 25%;
        width: 25%;
    }
    /* paper sizing */
    @page {
        margin: 1in;
    }

}

